@import '../helpers/variables';

@mixin section-header ($color) {
    display: flex;
    align-items: baseline;
    gap: 6px;
    margin-top: 40px;
    margin-bottom: 30px;
    > p {
        color: $color-orange;
        font-family: $font-bebas;
        font-size: 20px;
    }
    > h2 {
        color: $color;
        font-family: $font-yeseva;
        font-size: 46px;
        letter-spacing: 0.01em;
    }
}

@mixin button () {
    border: none;
    outline: none;
    background-color: $color-beige;
    padding: 0;
    cursor: pointer;
}

@mixin resume-section-border () {
    border-top: 2px solid $color-navy;
    border-bottom: 1px solid $color-navy;
    margin: 15px 0px;
}

@mixin resume-section-header () {
    font-family: $font-bebas;
    margin: 4px 0px;
    text-align: center;
    color: $color-navy;
}