@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('.././assets/fonts/bebas-neue/bebas-neue-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('.././assets/fonts/bebas-neue/bebas-neue-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('.././assets/fonts/bebas-neue/bebas-neue-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('.././assets/fonts/bebas-neue/bebas-neue-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('.././assets/fonts/bebas-neue/bebas-neue-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('.././assets/fonts/bebas-neue/bebas-neue-v9-latin-regular.svg#BebasNeue') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url('.././assets/fonts/forum/forum-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('.././assets/fonts/forum/forum-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('.././assets/fonts/forum/forum-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('.././assets/fonts/forum/forum-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('.././assets/fonts/forum/forum-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('.././assets/fonts/forum/forum-v16-latin-regular.svg#Forum') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    src: url('.././assets/fonts/yeseva-one/yeseva-one-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('.././assets/fonts/yeseva-one/yeseva-one-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('.././assets/fonts/yeseva-one/yeseva-one-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('.././assets/fonts/yeseva-one/yeseva-one-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('.././assets/fonts/yeseva-one/yeseva-one-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('.././assets/fonts/yeseva-one/yeseva-one-v20-latin-regular.svg#YesevaOne') format('svg'); /* Legacy iOS */
}


$font-bebas: 'Bebas Neue', sans-serif;

$font-forum: 'Forum', sans-serif;

$font-yeseva: 'Yeseva One', serif;

$color-navy: #163D57;

$color-orange: #ffa600;

$color-beige: #fefae9;

$breakpoint-1800: 1800px;

$breakpoint-1700: 1700px;

$breakpoint-1465: 1465px;

$breakpoint-1230: 1230px;

$breakpoint-1090: 1090px;

$breakpoint-950: 950px;

$breakpoint-900: 900px;

$breakpoint-850: 850px;

$breakpoint-800: 800px;

$breakpoint-700: 700px;

$breakpoint-650: 650px;

$breakpoint-600: 600px;

$breakpoint-500: 500px;

$breakpoint-450: 450px;

$breakpoint-400: 400px;

$breakpoint-340: 340px;

$breakpoint-320: 320px;