@import '../helpers/variables';
@import '../helpers/mixins';

.about {
    position: relative;
    .name {
        display: flex;
        gap: 15px;
        position: absolute;
        top: 100px;
        left: 5.25vw;
        font-family: $font-yeseva;
        font-size: 36px;
        .last {
            color: $color-beige;
        }
    }
    .about-background {
        margin-top: 60px;
        margin-left: 20vw;
        padding-top: 180px;
        background-color: $color-navy;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}

.heading {
    padding-bottom: 30vh;
    .selfie {
        display: flex;
        align-items: baseline;
        gap: 12vw;
        margin-left: 40px;
        position: relative;
        .selfie-outline {
            height: 323px;
            width: 300px;
            outline: 2px solid $color-orange;
            position: absolute;
            top: 24px;
            left: 24px;
        }
        .selfie-img {
            z-index: 4;
            height: 323px;
            width: 300px;
        }
        .job-title {
            font-family: $font-forum;
            font-size: 20px;
            color: $color-beige;
            > h2 {
                font-size: 50px;
                color: $color-orange;
            }
        }
    }
}

.intro {
    margin-left: 80px;
    .about-header {
        @include section-header($color-beige);
    }
    .intro-details {
        font-family: $font-forum;
        font-size: 20px;
        color: $color-beige;
        width: 50vw;
        height: 300px;
        border: 2px solid $color-orange;
        padding: 20px 25px;
        > p {
            margin-bottom: 15px;
        }
    }
}