@import '../helpers/variables';
@import '../helpers/mixins';

.about {
    .about-background {
        position: relative;
        margin-top: 60px;
        margin-left: 20vw;
        padding-top: 180px;
        background-color: $color-navy;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        .name {
            display: flex;
            gap: 15px;
            position: absolute;
            top: 50px;
            left: -212px;
            font-family: $font-yeseva;
            font-size: 36px;
            .last {
                color: $color-beige;
            }
        }
    }
}

.heading {
    padding-bottom: 30vh;
    .selfie {
        display: flex;
        align-items: baseline;
        gap: 12vw;
        margin-left: 40px;
        position: relative;
        .selfie-outline {
            height: 323px;
            width: 300px;
            outline: 2px solid $color-orange;
            position: absolute;
            top: 24px;
            left: 24px;
        }
        .selfie-img {
            z-index: 4;
            height: 323px;
            width: 300px;
        }
        .job-title {
            //height: 78px;
            font-family: $font-forum;
            font-size: 20px;
            color: $color-beige;
            > h2 {
                font-size: 50px;
                color: $color-orange;
            }
        }
    }
}

.intro {
    margin-left: 80px;
    padding-bottom: 100px;
    .about-header {
        @include section-header($color-beige);
    }
    .intro-details {
        font-family: $font-forum;
        font-size: 20px;
        color: $color-beige;
        width: 50vw;
        border: 2px solid $color-orange;
        padding: 20px 25px;
        .top-details {
            margin-bottom: 15px;
        }
    }
}


// MOBILE STYLES

@media (min-height: $breakpoint-900) {
    .heading {
        padding-top: 5vh;
    }
}

@media (min-width: $breakpoint-1465) {
    .intro {
        .intro-details {
            font-size: 22px;
            width: 40vw;
            padding: 25px 30px;
            .top-details {
                margin-bottom: 20px;
            }
        }
    }
}

@media (min-width: $breakpoint-1700) {
    .heading {
        .selfie {
            margin-left: 6vw;
        }
    } 
}

@media (max-width: $breakpoint-1230) {
    .about {
        .about-background {
            .name {
                left: -176px;
                font-size: 30px;
            }
        }
    }
    .heading {
        .selfie {
            gap: 12vw;
            .job-title {
                > h2 {
                    font-size: 40px;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-1090) {
    .heading {
        .selfie {
            gap: 8vw;
        }
    }
    .intro {
        .intro-details {
            width: 60vw;
        }
    }
}

@media (max-width: $breakpoint-950) {
    .about {
        .about-background {
            .name {
                left: -155px;
                font-size: 26px;
            }
        }
    }
    .heading {
        .selfie {
            .selfie-outline, .selfie-img {
                height: 280px;
                width: 260px;
            }
            .job-title {
                > h2 {
                    font-size: 32px;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-850) {
    .about {
        .about-background {
            .name {
                left: 40px;
                color: $color-beige;
            }
        }
    }
    .heading {
        .selfie {
            flex-direction: column;
            gap: 12vw;
            .job-title {
                align-self: center;
                > h2 {
                    font-size: 30px;
                }
            }
        }
    }
    .intro {
        margin-left: 0px;
        .about-header {
            margin-left: 80px;
        }
        .intro-details {
            width: 65vw;
            margin: 0 auto;
        }
    }
}

@media (max-width: $breakpoint-700) {
    .about {
        .about-background {
            margin-top: -10px;
            margin-left: 0;
            .name {
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%)
            }
        }
    }
    .heading {
        .selfie {
            .job-title {
                margin-left: 60px;
                margin-top: 20px;
            }
        }
    }
    .intro {
        .about-header {
            margin-left: 0;
            justify-content: center;
        }
        .intro-details {
            width: 90vw;
            font-size: 18px;
        }
    }
}

@media (max-width: $breakpoint-450) {
    .heading {
        .selfie {
            .job-title {
                margin-top: 40px;
            }
        }
    }
    .intro {
        .intro-details {
            padding: 16px 18px;
        }
    }
}

@media (max-width: $breakpoint-400) {
    .about {
        .about-background {
            .name {
                font-size: 22px;
            }
        }
    }
    .heading {
        .selfie {
            .selfie-outline, .selfie-img {
                height: 215px;
                width: 200px;
            }
            .job-title {
                margin-left: -40px; 
            }
        }
    }
    .intro {
        .intro-details {
            font-size: 16px;
        }
    }
}

@media (max-width: $breakpoint-320) {
    .about {
        .about-background {
            .name {
                font-size: 20px;
            }
        }
    }
    .heading {
        .selfie {
            .selfie-outline, .selfie-img {
                height: 200px;
                width: 186px;
            }
            .job-title {
                width: 234px;
                > h2 {
                    font-size: 28px;
                }
            }
        }
    }
}