@import '../helpers/variables';

.app {
    background-color: $color-beige; 
    overflow: scroll;
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
    .pages {
        display: flex;
        flex-direction: column;
        gap: 25vh; 
    }
}

.resume {
    z-index: 6;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all .3s;
    transition: all .3s;
    .resume-container {
        background-color: $color-beige;
        overflow: scroll;
        width: 60vw;
        aspect-ratio: 8.5 / 11;
    }
}

.not-shown {
    visibility: hidden;
    opacity: 0;
}

.shown {
    visibility: visible;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
    .shown {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.3);
    }
}