@import '../helpers/variables';

.app {
    background-color: $color-beige; 
    overflow: scroll;
    min-height: 100vh;
    max-height: 100vh;
    .pages {
        display: flex;
        flex-direction: column;
        gap: 25vh; 
    }
}

.resume-shown {
    color: white;
}

.resume-not-shown {
    color: black;
}