@import '../helpers/variables';
@import '../helpers/mixins';

.contact {
    background-color: $color-beige;
    .contact-header {
        margin-left: 260px;
        @include section-header($color-navy);
    }
    .contact-details {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 52vw 48vw;
        grid-template-rows: auto 40px;
        row-gap: 40px;
        column-gap: 80px;
    }
}

.details {
    width: 500px;
    justify-self: end;
    > p {
        font-family: $font-forum;
        color: $color-navy;
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 80px;
    }
    .details-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

.email-form {
    width: 400px;
    justify-self: start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .form-inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 400px;
        > input,
        > textarea {
            background-color: transparent;
            outline: none;
            border: 2px solid $color-navy;
            border-radius: 2px;
            font-family: $font-forum;
            font-size: 20px;
            color: $color-navy;
            height: 38px;
            padding: 5px 10px 3px;
        }
        .message-input {
            resize: none;
            height: 140px;
            padding: 8px;
        }
        .name-input:hover::-webkit-input-placeholder,
        .email-input:hover::-webkit-input-placeholder,
        .message-input:hover::-webkit-input-placeholder {
            color: $color-orange;
        }
    }
    .send-input {
        align-self: flex-end;
        background-color: transparent;
        outline: none;
        border: none;
        font-family: $font-forum;
        font-size: 20px;
        cursor: pointer;
        > img {
            width: 12px;
            margin-left: 5px;
        }
    }
}

.footer {
    background-color: $color-orange;
    grid-column: span 2;
    z-index: 2;
    color: $color-navy;
    font-family: $font-yeseva;
    display: flex;
    justify-content: center;
    align-items: center;
    > p {
        > img {
            width: 20px;
            padding-right: 2px;
            padding-left: 1px;
        }
        > a {
            text-decoration: none;
            padding-left: 4px;
            color: $color-navy;
        }
    }
}

@media (max-width: 1230px) {
    .details {
        width: 400px;
    }
}

@media (max-width: 1090px) {
    .contact {
        .contact-details {
            grid-template-columns: 55vw 45vw;
        }
    }
    .email-form {
        width: 300px;
        .form-inputs {
            width: 300px;
        }
    }
}

@media (max-width: 950px) {
    .details {
        width: 300px;
        > p {
            margin-bottom: 40px;
        }
    }
    .contact {
        .contact-details {
            column-gap: 40px;
        }
    }
}

@media (max-width: 800px) {
    .contact {
        .contact-header {
            margin-left: 0;
            justify-content: center;
        }
        .contact-details {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .details {
        width: 400px;
        > p {
            text-align: center;
        }
    }
    .footer {
        height: 40px;
        width: 100vw;
    }
}

@media (max-width: 500px) {
    .details {
        width: 300px;
        > p {
            font-size: 18px;
        }
    }
}

@media (max-width: 340px) {
    .details {
        width: 250px;
    }
    .email-form {
        width: 250px;
        .form-inputs {
            width: 250px;
        }
    }
}