@import '../helpers/variables';
@import '../helpers/mixins';

.contact {
    background-color: $color-beige;
    .contact-header {
        margin-left: 260px;
        padding-top: 40px;
        @include section-header($color-navy);
    }
    .contact-details {
        display: flex;
        justify-content: center;
        gap: 120px;
        margin: 60px 120px 60px;
    }
}

.details {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    > p {
        font-family: $font-forum;
        color: $color-navy;
        font-size: 20px;
        > a {
            font-family: $font-yeseva;
            text-decoration: none;
            font-size: 18px;
        }
    }
    .details-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

.email-form {
    display: flex;
    flex-direction: column;
    .form-inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 400px;
        > input,
        > textarea {
            background-color: transparent;
            outline: none;
            border: 2px solid $color-navy;
            border-radius: 2px;
            font-family: $font-forum;
            font-size: 20px;
            color: $color-navy;
        }
        .name-input,
        .email-input {
            height: 38px;
            padding: 5px 10px 3px;
        }
        .message-input {
            resize: none;
            height: 140px;
            padding: 8px;
        }
    }
    .send-input {
        align-self: flex-end;
        margin-top: 20px;
        background-color: transparent;
        outline: none;
        border: none;
        font-family: $font-forum;
        font-size: 20px;
        > img {
            width: 12px;
            margin-left: 5px;
        }
    }
}