@import '../helpers/variables';
@import '../helpers/mixins';

.contact {
    background-color: $color-beige;
    .contact-header {
        margin-left: 260px;
        @include section-header($color-navy);
    }
    .contact-details {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        .details-top {
            display: flex;
            justify-content: center;
            gap: 60px;
        }
    }
}

.details {
    width: 500px;
    > p {
        font-family: $font-forum;
        color: $color-navy;
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 80px;
    }
    .details-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        > button {
            @include button();
        }
    }
}

.email-form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .form-inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 400px;
        > input,
        > textarea {
            background-color: transparent;
            outline: none;
            border: 2px solid $color-navy;
            border-radius: 2px;
            font-family: $font-forum;
            font-size: 20px;
            color: $color-navy;
            height: 38px;
            padding: 5px 10px 3px;
        }
        .message-input {
            resize: none;
            height: 140px;
            padding: 8px;
        }
        .name-input:hover::-webkit-input-placeholder,
        .email-input:hover::-webkit-input-placeholder,
        .message-input:hover::-webkit-input-placeholder {
            color: $color-orange;
        }
    }
    .send-input {
        align-self: flex-end;
        @include button();
        font-family: $font-forum;
        font-size: 20px;
        > img {
            width: 12px;
            margin-left: 5px;
        }
    }
}

.footer {
    background-color: $color-orange;
    height: 40px;
    z-index: 2;
    color: $color-navy;
    font-family: $font-yeseva;
    display: flex;
    justify-content: center;
    align-items: center;
    > p {
        > img {
            width: 20px;
            padding-right: 2px;
            padding-left: 1px;
        }
        > a {
            text-decoration: none;
            padding-left: 4px;
            color: $color-navy;
        }
    }
}



// MOBILE STYLES

@media (min-height: $breakpoint-900) {
    .contact {
        .contact-details {
            padding-top: 5vh;
            gap: 5vh;
        }
    }
}

@media (min-width: 1600px) {
    .contact {
        .contact-details {
            .details-top {
                gap: 10vw;
            }
        }
    }
}

@media (max-width: $breakpoint-1230) {
    .details {
        width: 400px;
    }
}

@media (max-width: $breakpoint-1090) {
    .contact {
        .contact-details {
            .details-top {
                gap: 30px;
            }
        }
    }
    .email-form {
        width: 300px;
        .form-inputs {
            width: 300px;
        }
    }
}

@media (max-width: $breakpoint-950) {
    .contact {
        .contact-header {
            margin-left: 0;
            justify-content: center;
        }
    }
    .details {
        width: 300px;
        margin: 0 60px;
        > p {
            margin-bottom: 40px;
            text-align: center;
        }
    }
}

@media (max-width: $breakpoint-850) {
    .contact {
        .contact-details {
            .details-top {
                flex-direction: column;
                align-items: center;
                gap: 50px;
            }
        }
    }
    .details {
        width: 400px;
        margin: 0;
    }
    .email-form {
        width: 400px;
        .form-inputs {
            width: 400px;
        }
    }
}

@media (max-width: $breakpoint-450) {
    .details {
        width: 300px;
        margin: 0;
    }
    .email-form {
        width: 300px;
        .form-inputs {
            width: 300px;
        }
    }
}

@media (max-width: $breakpoint-340) {
    .details {
        width: 250px;
    }
    .email-form {
        width: 250px;
        .form-inputs {
            width: 250px;
        }
    }
}