@import '../helpers/variables';

.left-panel {
    background: transparent;
    height: 100vh;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
    .link-list {
        padding-left: 20px;
        > li::marker {
            content: 'o';
            font-size: 18px;
            font-family: $font-forum;
        }
        > li {
            margin-bottom: 15px;
            font-family: $font-bebas;
            font-size: 20px;
            padding-left: 8px;
            cursor: pointer;
            > a {
                color: black;
                text-decoration: none;
                transition: all 0.2s ease;
            }
            > a:hover {
                color: $color-orange;
            }
            .underline {
                display: inline;
                position: relative;
                overflow: hidden;
            }
            .underline::after {
                content: "";
                position: absolute;
                z-index: -1;
                right: 0;
                width: 0;
                bottom: -5px;
                background-color: $color-orange;
                height: 3px;
                transition: width 0.3s ease-out;
            }
            .about-nav,
            .skills-nav,
            .projects-nav,
            .contact-nav {
                display: inline;
                position: relative;
                overflow: hidden;
            }
            .about-nav::after,
            .skills-nav::after,
            .projects-nav::after,
            .contact-nav::after {
                content: "";
                position: absolute;
                z-index: -1;
                left: 0;
                right: auto;
                width: 42px;
                bottom: -5px;
                height: 3px;
                transition: width 0.3s ease-out;
            }
            .skills-nav::after {
                width: 44px;
            }
            .projects-nav::after {
                width: 61px;
            }
            .contact-nav::after {
                width: 56px;
            }
        }
        > li:active {
            transform: scale(0.9);
        }
    }
}