@import '../helpers/variables';
@import '../helpers/mixins';

.skills {
    .skills-container {
        .skills-header {
            margin-left: 260px;
            @include section-header($color-navy);
        }
        .skills-boxes {
            background-color: $color-orange;
            width: 66vw;
            margin: 0 auto;
            padding: 40px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            .skills-row-1,
            .skills-row-2,
            .skills-row-3 {
                display: flex;
                align-items: center;
                .skill {
                    background-color: $color-navy;
                    color: $color-beige;
                    width: fit-content;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    align-items: center;
                    padding: 10px 15px 6px;
                    font-family: $font-bebas;
                    font-size: 22px;
                    border-radius: 4px;
                }
            }
            .skills-row-1,
            .skills-row-3 {
                justify-content: space-between;
            }
            .skills-row-2 {
                justify-content: space-around;
            }
        }
    }
}