@import '../helpers/variables';
@import '../helpers/mixins';

.skills-container {
    .skills-header {
        margin-left: 260px;
        @include section-header($color-navy);
    }
    .skills-boxes {
        background-color: $color-orange;
        width: 66vw;
        margin: 0 auto;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        .skills-row-1,
        .skills-row-2,
        .skills-row-3 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .skill {
                background-color: $color-navy;
                color: $color-beige;
                width: fit-content;
                height: fit-content;
                display: flex;
                flex-direction: column;
                gap: 8px;
                align-items: center;
                padding: 10px 15px 6px;
                font-family: $font-bebas;
                font-size: 22px;
                border-radius: 4px;
            }
        }
        .skills-row-2 {
            justify-content: space-around;
        }
    }
}


// MOBILE STYLES

@media (min-height: $breakpoint-900) {
    .skills-container {
        .skills-header {
            padding-bottom: 5vh;
        }
    }
}

@media (min-width: 1550px) {
    .skills-container {
        .skills-boxes {
            width: 55vw;
            padding: 50px;
            gap: 50px;
        }
    }
}

@media (min-width: 1800px) {
    .skills-container {
        .skills-boxes {
            width: 45vw;
            gap: 60px;
        }
    }
}

@media (max-width: $breakpoint-1090) {
    .skills-container {
        .skills-boxes {
            .skills-row-1,
            .skills-row-2,
            .skills-row-3 {
                .skill {
                    font-size: 18px;
                    > img {
                        width: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: $breakpoint-950) {
    .skills-container {
        .skills-boxes {
            width: 70vw;
            .skills-row-1,
            .skills-row-2,
            .skills-row-3 {
                .skill {
                    font-size: 16px;
                    > img {
                        width: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: $breakpoint-850) {
    .skills-container {
        .skills-boxes {
            padding: 30px 20px;
        }
    }
}

@media (max-width: $breakpoint-800) {
    .skills-container {
        .skills-header {
            margin-left: 0;
            justify-content: center;
        }
        .skills-boxes {
            .skills-row-1,
            .skills-row-2,
            .skills-row-3 {
                .skill {
                    padding: 10px 10px 6px;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-700) {
    .skills-container {
        .skills-boxes {
            width: 86vw;
        }
    }
}

@media (max-width: $breakpoint-650) {
    .skills-container {
        .skills-boxes {
            width: 90vw;
        }
    }
}

@media (max-width: $breakpoint-600) {
    .skills-container {
        .skills-boxes {
            .skills-row-1,
            .skills-row-2,
            .skills-row-3 {
                .skill {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-500) {
    .skills-container {
        .skills-boxes {
            width: 100vw;
        }
    }
}

@media (max-width: $breakpoint-450) {
    .skills-container {
        .skills-boxes {
            padding: 30px 10px;
        }
    }
}

@media (max-width: $breakpoint-400) {
    .skills-container {
        .skills-boxes {
            .skills-row-1,
            .skills-row-2,
            .skills-row-3 {
                .skill {
                    font-size: 12px;
                    padding: 10px 5px 6px;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-340) {
    .skills-container {
        .skills-boxes {
            padding: 30px 5px;
            .skills-row-1,
            .skills-row-2,
            .skills-row-3 {
                .skill {
                    font-size: 10px;
                }
            }
        }
    }
}